@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orangeColor: #ff6b00;
  --blackColor: #101010;
  --secondaryBlackColor: #606060;
  --lightWhiteColor: #fff5ef;
}
.blackColor{
  color: var(--blackColor);
}
.font-jost {
  font-family: "Jost", sans-serif;
}
.font-urbanist{
  font-family: "Urbanist", sans-serif;
}
h1 {
  font-size: 84px !important;
  line-height: 1.2em !important;
}
h2 {
  font-family: "Jost", sans-serif;
  font-size: 44px !important;
  font-weight: 700 !important;
  line-height: 1.3em !important;
  color: var(--blackColor);
}
p{
  font-size: 16px;
  color: var(--blackColor);
}
blockquote {
  border-left: 2px solid var(--orangeColor);
  padding: 10.5px 21px;
  margin: 30px 0 40px !important;
  font-style: italic;
  background-color: #fff5ef;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #606060;
}
.mt-50{
  margin-top: 50px !important;
}
.navbar{
  background-color: transparent;
  z-index: 9999;
}
.nav-link {
  color: var(--blackColor) !important;
  padding: 30px 0px !important;
  letter-spacing: 0.5px;
}
.nav-link:hover {
  color: var(--orangeColor) !important;
}
.breadcrumb-item a{
  color: var(--secondaryBlackColor) !important;
  text-decoration: none !important;
}
.active{
  color: var(--orangeColor) !important;
}

@media(max-width: 990px){
  .mt-negative{
    margin-top: -85px;
  }
  h2{
    font-size: 38px !important;
  }
}
@media(max-width: 767px){
  .mt-negative{
    margin-top: 0px;
  }
  .navbar{
    background-color: var(--lightWhiteColor);
    height: 70px;
  }
}